@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
.wrap {
  width: 50%;
  margin: 50px auto;
  border: 10px solid #000;
  padding: 60px;
}

.sample {
  background: #f5f5f5;
  margin-top: 60px;
}

.select-menu {
  width: 200px;
  height: 50px;
  border: 1px solid #000;
}
.select-wrap {
  width: 200px;
  height: 50px;
  border: 1px solid #000;
  position: relative;
  background: #fff;
}
.select-wrap strong {
  /* background: #ff5; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}
.select-wrap strong::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: solid #f39;
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);

  /*이걸로 바꾸기 가능 
  border-top: 1px solid #000;
  border-right: 1px solid #000; */
}
.select-wrap .select-list {
  position: absolute;
  top: 50px;
  left: -1px;
  width: calc(100% + 2px);
  border: 1px solid #000;
  display: none; /* jQuery : slideUp */
}

.select-wrap .select-list li {
  padding: 10px;
  background: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.select-wrap .select-list li + li {
  /* 형빼고 나머지 애들 */
  border-top: 1px solid #000;
}
.select-wrap .select-list li:hover {
  background: #f39;
  color: #fff;
}
